# requirements for local Streamlit application to be set up in HF space

# --- Base & Data Analysis ---
pandas>=2.0
numpy>=1.26
openpyxl
requests>=2.31.0,<3
image
pybase64

# --- Machine Learning & Experiment Tracking ---
mlflow==3.5.0
scikit-learn==1.6.1
psycopg2-binary
boto3
botocore
dotenv

# --- Frontend (Streamlit) ---
streamlit
librosa
plotly
matplotlib
seaborn

# --- Backend (API FastAPI) ---
fastapi
uvicorn
pydantic
python-multipart

# --- Utils ---
jupyter
gunicorn
pathlib
regex

